includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 4
    paths:
        - app

    # Esto silencia los errores de magia de Laravel y relaciones no declaradas
    ignoreErrors:
        - '#Access to an undefined property#'
        - '#Relation .* is not found in .* model#'
        - '#Call to an undefined method#'
        - '#Unreachable statement#'
