includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 4
    paths:
        - app

    ignoreErrors:
        - '#always evaluate to true#'
        - '#Right side of && is always true#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::calcularTotales#'
        - '#should return int\|null but returns float#'
        - '#is not covariant with PHPDoc type list<string>#'
